<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for(:sidebar) do %>

  <%  for new in @three_first_news -%>
      <div><%= link_to  new.title, :action => 'news', :id => new.id%></div>
      <div><%= h(truncate(new.description.gsub(/(<[^>]+>)/, ''), 150)) %><%= link_to 'читать дальше', :action => 'news', :id => new.id %></div>
      <br />
      <br />
      <br />
 <%  end %>
<% end %>
