<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h3><%= @new.title %></h3><br/>
<div style="width: 730px">
<%= @new.description %><br/>
</div>
Добавлено <%= @new.added_date %>
<%= render :partial => "side_news"%>
