<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="redbox" style="display: none;">
  <%= params[:id] %>
  <%= link_to_close_redbox "Cancel" %>
</div>
Спасибо за ваш заказ!
<%= render :partial => "side"%>